<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Virtual Playground</title>
</head>
<body>
  <section class="vh-100">
    <div class="container h-100">

      <div id="initialScreen" class="h-100">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
            <h1>Virtual Playground</h1>
            <br><br>
            <a href = /snake>
              <button>
                Mutiplayer Snake Game
              </button>
            </a>&nbsp;
            <a href = '/flappy'>
              <button>
                Flappy Bird Game
              </button>
            </a>
            
        </div>
      </div>

      </body>
</html>
